
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol, td {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
  h1, h2 {
    font-size: revert;
  }
  a {
    text-decoration: revert;
    color:darkblue;
  }
}
/* .blur-background {
    filter: blur(3px); 
} */

.gradient {
  background: #3b82f6
}
